.profile-card{
  transition: transform .2s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  .profile-img{
    img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 9px 9px 0 0;
    }
    
    h2{
      text-align: center;
      align-self: center;
      font-size: 1.5rem;
      font-weight: 350;
      padding: 1rem 0;
    }
    
  }
  
}
.profile-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 5px px rgba(0, 0, 0, 0.25);
  border: none;
  h2{
    font-weight: 400;
    color: white;
  }
  background-color: #17202d;
}