
.team{
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    margin-top: 6rem;
    padding: 3rem 0;
    background-color: #E9EDF2;
    // background-image: url("../../assets/images/about/team-bg2.jpg");
    // background-size: cover;
    h1{
        text-align: center;
        font-size: 3rem;
    }
    .team-main{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 2rem;

    }
}