.form-popup-main {
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 11;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .form-popup {
    background-color: white;
    min-height: auto;
    min-width: 40%;
    position: relative;
    padding: 3rem;
    box-shadow: 0px 2px 15px rgba($color: #3a3a3a, $alpha: 1);
    border-radius: 10px;

    .img-box {
    //   display: grid;
    //   justify-content: center;
    }

    .profile-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
    }
    .form-popup-close-btn {
      font-size: 2rem;
      position: absolute;
      top: 2%;
      right: 2%;
    }
    .form-popup-sub {
      display: grid;
      grid-template-columns: 1fr 2fr;
      row-gap: 1rem;
      .form-popup-bold {
        font-weight: 500;
      }
      .form-popup-details {
      }
    }
  }
}
