.forgot-pass{
    display: grid;
    grid-template-columns: 50%;
    // height: 100vh;
    padding: 150px 0;
    justify-content: center;
    align-items: center;
    .logo{
        display: grid;
        justify-content: center;
    }
    .forgot-input{
        display: grid;
        justify-content: center;
        .forgot-submit-btn{
            display: grid;
            justify-content: center;
            
            Button{
                margin-top: 1rem;
            }
        }
    }
}