.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  .admin-dash-tile {
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    .admin-dash-tile-left {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
    .admin-dash-tile-right {
      font-size: 4rem;
      font-weight: 500;
      color: #6F38C5;
    }
  }
}
