.landing {
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-size: cover;

  &.vehicles {
    background-image: url("../../assets/images/landing/vehicles.png");
  }
  &.apartments {
    background-image: url("../../assets/images/landing/vehicles.png");
  }
  &.offices {
    background-image: url("../../assets/images/landing/vehicles.png");
  }
  &.boats {
    background-image: url("../../assets/images/landing/vehicles.png");
  }
  &.machines {
    background-image: url("../../assets/images/landing/vehicles.png");
  }
  &.tools {
    background-image: url("../../assets/images/landing/vehicles.png");
  }

  h1 {
    padding-top: 16rem;
    text-align: center;
    color: white;
    font-size: 4rem;
  }

  p {
    margin-top: 2rem;
    text-align: center;
    color: white;
  }

  .search-box {
    max-width: 1000px;
    background: #fff;
    padding: 2rem;
    margin: auto;
    margin-top: 6rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;

    .find-btn {
      padding: 0 5rem;
      color: #fff;
      background: #0aa5cd;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 10px;
      border: none;

      &:hover {
        color: #0aa5cd;
        background: white;
        border: 1px solid #0aa5cd;
      }
    }
  }
}

.category-items {
  background: #e9edf2;
  padding: 5rem 6rem;

  .title-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .filter {
      width: 200px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;

    .item {
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      overflow: hidden;

      .img-div {
        overflow: hidden;
        height: 275px;

        img {
          width: 100%;
          border-radius: 10px 10px 0 0;
          height: 100%;
          object-fit: cover;

          &:hover {
            transform: scale(1.0125);
          }
        }
      }

      .dtl-box {
        padding: 1rem 1.5rem;

        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.25rem;
        }

        .dtl {
          display: grid;
          grid-template-columns: repeat(2, auto);
          justify-content: space-between;
          align-items: baseline;

          span {
            font-weight: 500;
            font-size: 1.25rem;
            color: #0aa5cd;
          }
        }
      }
    }
  }
}
