.rental-item {
  padding: 9rem 6rem 5rem;
  display: grid;
  grid-template-columns: 3fr 2fr;

  .seller-div {
    background-color: #fcf8e8;
    justify-self: center;
    align-self: flex-start;
    // border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 2rem 4rem;
    border-radius: 5px;
    .connect-seller-btn {
      display: grid;
      justify-content: center;
      padding-top: 2rem;
    }
    h3 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .seller-img-div {
      display: grid;
      justify-content: center;
    }

    .seller-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom: 2rem;
      border-radius: 100%;
    }

    p {
      margin-bottom: 0.5rem;
    }

    .name {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
  }

  .item-div {
    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .basic-dtl {
      margin: 4rem 0 2.5rem;
      p {
        margin-bottom: 0.75rem;
      }
      span {
        font-weight: 500;
        font-size: 1.25rem;
        color: #0aa5cd;
      }
    }

    .main-img {
      height: 500px;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .desc {
      h4 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .book-btn {
      margin-top: 2rem;
    }
  }
}
