.subscriptionCard-main{
    height: 70vh;
    text-align: center;
    background-color: #243A73;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    h3{
        
        font-size: 2rem;
        // text-decoration: underline;
    }
    h1{
        font-size: 6rem;
        padding-top: 7rem;
        transition: 0.5s;
    }
    button {
        cursor: pointer;
        color: #17202d;
        background: #fff;
        padding: 0 7rem;
        margin-top: 12.5rem;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        transition: 0.2s;
  
        &:hover {
          background: black;
          color: white;
          border: solid 1px white;
        }
      }
}
.subscriptionCard-main:hover{
    background-color: black;
    // color: black;
    h1{
        transform: scale(1.05);
    }
}