.profile-main{
    margin-top: 14vh;
    height: 86vh;
    padding: 0 6rem;
    .profile-top{
        display: flex;
        padding: 0 3rem;
        border-radius: 10px;
        justify-content: space-between;
        background-color: #e9edf2;
        .profile-img-div{
            height: 40vh;
            img{
                max-width: 100%;
                height: fit-content;
                max-height: 90%;
                border-radius: 100%;
                padding: 1rem 0;
            }
        }
        
    }
}