.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/home.png");
  z-index: -1;
  background-size: cover;

  h1 {
    padding-top: 15rem;
    text-align: center;
    color: white;
    font-size: 4rem;
  }

  p {
    margin-top: 2rem;
    text-align: center;
    color: white;
  }

  .search-box {
    max-width: 1000px;
    background: #fff;
    padding: 2rem;
    margin: auto;
    margin-top: 6rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;

    .find-btn {
      padding: 0 5rem;
      color: #fff;
      background: #17202d;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.25rem;

      &:hover {
        color: #0aa5cd;
        background: white;
        border: 1px solid #0aa5cd;
      }
    }
  }
}

.categories {
  padding: 5rem 6rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;

    div {
      height: 275px;
      background-size: cover;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        opacity: 1;
        transform: scale(1.0125);
      }

      h3 {
        position: absolute;
        left: 2rem;
        bottom: 1.5rem;
        font-size: 1.5rem;
        color: #fff;
      }
    }

    .car {
      background-image: url("../../assets/images/categories/car.png");
    }

    .house {
      background-image: url("../../assets/images/categories/house.png");
    }

    .machine {
      background-image: url("../../assets/images/categories/machine.png");
    }
  }
}

.news {
  background: #e9edf2;

  &.home {
    padding: 5rem 6rem;
  }

  &.view-all {
    padding: 9rem 6rem 5rem;
  }

  .title-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    button {
      cursor: pointer;
      color: #fff;
      background: #0aa5cd;
      padding: 0 3rem;
      height: 50px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;

      &:hover {
        background: #818a91;
      }
    }

    .filter {
      width: 200px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;

    .img-div {
      height: 275px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .date {
        padding: 1rem;
        background: #0aa5cd;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    .dtl {
      cursor: pointer;
      margin: auto;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      position: relative;
      top: -1.5rem;
      z-index: 999;
      width: 325px;
      background: #fff;

      &:hover {
        h3 {
          color: #0aa5cd;
        }
      }

      h3 {
        font-size: 1.25rem;
      }

      p {
        margin-bottom: 0.6rem;
        font-size: 0.9rem;
      }
    }
  }
}
