.profile-main{
    .profile-sub{
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 4fr;
        border-radius: 16px;
        .profile-bold{
            border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding: 2rem;
            display: grid;
            align-items: center;
        }
        .profile-right{
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding: 2rem;
            display: grid;
            align-items: center;
        }
        .sub-status{
            border-bottom: none;
        }
        .profile-img{
            height: 200px;
        }
    }
}
