.navbar-admin {
  background: #17202d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  .container {
    padding: 1.5rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
  }
}

.brand {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 3rem;

  p {
    cursor: pointer;
    color: white;

    &:hover {
      color: #0aa5cd;
    }
  }
}
